.base-buttom {
    height: 40px;
    border-radius: 5px;
    background-color: #00285F;
    margin-top: 38px;
    margin-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

.base-buttom:hover {
    background-color: rgba(0, 40, 95, 0.8);
}