.card-container-card {
    background: #EDEDED;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.image-container-card img {
    width: 220px;
    height: 165px;
}

.content-container-card {
    width: 90%;
}

.content-container-card h2 {
    margin-top: 10px;
    text-align: center;
}

.content-container-card button {
    margin-top: 38px;
    margin-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}